
 
{% extends 'base.html'%}


{%block content%}
<div class="container">
    {%for Allarticles_news in Allarticles%}
        <p>{{ Allarticles_news.author}}</p>
        <p>{{ Allarticles_news.title}}</p>
        <a href="{{Allarticles_news.url}}">
        <p>{{ Allarticles_news.description}}</p>
        </a>
        <div class="jumbotron">
        <img class="img-responsive" src="{{Allarticles_news.urlToImage}}" alt="Picture image">
        </div>
        <p>{{ Allarticles_news.publishedAt}}</p>
        <p>{{Allarticles_news.content}}</p>
    {%endfor%}
</div>
{%endblock%}


