


  {% if title %}
  <title> {{ title }}</title>
  {% else %}
  <title> Welcome to the News Updates website </title>
  {% endif %}

{% extends 'base.html'%}
{% import 'macros.html' as macro%} 
<!-- main block goes here -->
{% block content%}
  <h3> All News Available</h3>
  <!-- =====serach goes here -->
  <div class="container">
    <form>
        <input type="text" name="news_query" placeholder="Search for Top Headings News Accross the World" class="form-control">
        <input type="submit"  value="Submit" class="btn btn-default">
    </form>

  </div>
  <!-- end of search -->
  <ul>
    {% for everything in everything %}
      <div class="jumbotron bg-primary text-danger">
        <li><img src="{{everything.urlToImage}}" alt="Image"></li>
      </div>      
      {% endfor %}
   
  </ul>
{% endblock%}
  