


  {% if title %}
  <title> {{ title }}</title>
  {% else %}
  <title> Welcome to the best Movie Review website </title>
  {% endif %}

{% extends 'base.html'%}
{% import 'macros.html' as macro%} 
<!-- main block goes here -->
{% block content%}
  <h3> All News Available</h3>
  <!-- =====serach goes here -->
  <div class="container">
    <form>
        <input type="text" name="news_query" placeholder="Search for Top Headings News Accross the Wolrd" class="form-control">
        <input type="submit"  value="Submit" class="btn btn-default">
    </form>

  </div>
  <!-- end of search -->
  <ul>
    {% for everything in everything %}
      <div class="jumbotron bg-primary text-danger">
        <li><img src="{{everything.urlToImage}}" alt="Image"></li>
      </div>      
      {% endfor %}
   
      {% for bussiness_news in bussiness %}
      <div class="jumbotron bg-primary text-danger">
        <h2><a href="/bussiness/{{bussiness_news.id}}">{{ bussiness_news.id }}</a></h2>
        <p>{{bussiness_news.description | truncate(200)}}</p>
        <p>Language: {{bussiness_news.language}}</p>
        <p>Country: {{bussiness_news.country}}</p>
        <p>{{bussiness_news.url}}</p>
        <p><a href="/bussiness/{{bussiness_news.id}}">Click to View {{ bussiness_news.id }}</a></p>
      </div>      
      {% endfor %}
   
  </ul>
{% endblock%}
  